.container-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 200px;
  margin-top: 80px;
}

.card-categories {
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
  width: 13%;
  height: 150px;
  margin: 15px;
  background-color: rgba(85, 187, 165, 0.911);
  color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}
