* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.app {
  width: 80%;
  margin: auto;
}

.header {
  background-color: rgb(223, 126, 48);
  padding: 10px 0;
  font-size: 36px;
  display: flex;
  justify-content: center;
  color: #fff;
}